/* AwardsAchievements.css */

.awards-section {
  text-align: center;
  padding: 3rem;
  background: linear-gradient(180deg, #2e0249, #50037a);
  color: #fff;
}

.awards-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #fff;
}

.award-card {
  background-color: #fff;
  color: #333;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.award-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: auto;
}

.award-header .details {
  margin-bottom: 1.4rem;
  text-align: left;
}

.award-header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.award-header h3 {
  font-size: 1.25rem;
  margin: 0;
}

.award-header p {
  margin: 0;
  color: #666;
  font-size: 0.875rem;
}

.award-content p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.award-image {
  width: 100%;
  height: 650px;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.award-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: #333;
}

.icon i {
  font-size: 1.25rem;
  color: #666;
}
