/* General body and page settings */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f3d;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.career-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    background-color: #1f1f3d;
    padding: 2rem 0;
}

.career-container p {
    text-align: center;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 48px;
    font-weight: 700;
}

.timeline {
    width: 100%;
    max-width: 100vw;
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
}

.timeline-item {
    position: relative;
    width: auto;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 3rem;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #f0f0f0;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #6a67ce;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline-item:nth-child(1)::before {
    background-image: url('../assets/Bcu-logo.png');
}

.timeline-item:nth-child(2)::before {
    background-image: url('../assets/deerwalk-logo.png');
}

.timeline-item:nth-child(3)::before {
    background-image: url('../assets/uni-logo.png');
}

.timeline-item-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.timeline-content {
    background-color: #2c2c54;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    max-width: auto;
    width: auto;
    min-width: 400px;
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.timeline-content h3 {
    font-size: 1.5rem;
    color: #fff;
}

.timeline-content h4 {
    font-size: 1.2rem;
    color: #6c63ff;
    margin-bottom: 1rem;
}

.timeline-content ul {
    list-style-type: none;
    padding: 0;
}

.timeline-content ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-right: 540px;
    margin-left: 0;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: 540px;
    margin-right: 0;
}

.timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.timeline-item:nth-child(odd) .timeline-content.visible {
    animation: slideInLeft 0.6s forwards;
}

.timeline-item:nth-child(even) .timeline-content.visible {
    animation: slideInRight 0.6s forwards;
}

/* Animations for slide-in from left and right */
@keyframes slideInLeft {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.timeline-content:hover {
    background-color: #353567;
    transition: background-color 0.3s ease-in-out;
}


.timeline-item:not(:last-child) .timeline-content {
    margin-bottom: 2rem;
}

@media (max-width: 950px) {
    .timeline-item:nth-child(even) .timeline-content {
        margin-left: 50vw;
        margin-right: 0px;
    }

    .timeline-content {
        min-width: auto;
    }

    .timeline-item:nth-child(odd) .timeline-content {
        margin-left: 0px;
        margin-right: 50vw;
    }

}