.profile-container {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #1f1f3d;
}

.profile-container h2 {
  font-size: 3rem;
  color: #c39de3;
  font-weight: bold;
  margin-bottom: 2rem;
}

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.terminal-wrapper {
  width: min(90vw, 620px);
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

.code-snippet {
  background-color: #282828;
  padding: 1.25rem 1.5rem 1.5rem;
  font-family: "Consolas", "Consolas Italic";
  font-size: 0.95rem;
  color: #c9d1d9;
  text-align: left;
  line-height: 1.4;
  font-weight: 500;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.code-snippet code {
  white-space: pre-wrap; /* Preserve line breaks and wraps long lines */
  word-wrap: break-word;
  display: inline;
  margin-top: 10px;
}

.typing-text {
  font-size: 1.1rem;
}

.profile-details {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  background-color: #2c0b3f;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  width: auto;
  gap: 2rem;
  text-align: left;
}

.profile-image {
  width: 330px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.about-me {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-me h3 {
  color: #f9a8d4;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.about-me h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
}

.about-me p {
  font-size: 1.3rem;
  color: #c9d1d9;
  margin: 1rem 0;
  max-width: 500px;
  text-align: justify;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.linkedin {
  background: linear-gradient(90deg, #8fd3f4, #84fab0);
}

.github {
  background: linear-gradient(90deg, #58a6ff, #54b4f5);
}

.resume {
  background: linear-gradient(90deg, #ff758c, #ff7eb3);
}

/* Blinking cursor effect */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.code-snippet code::after {
  content: "|";
  display: inline;
  animation: blink 0.8s infinite;
  color: #d8b4fe;
}

/* Mac top bar */
.mac-top-bar {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 14px;
  background-color: #3b3b3b;
  width: 100%;
}

/* Top bar circles */
.red-circle,
.yellow-circle,
.green-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.red-circle {
  background-color: #ff5f57;
}

.yellow-circle {
  background-color: #ffbd2e;
}

.green-circle {
  background-color: #28c93f;
}
