/* Project.css */

.project-gallery {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.project-gallery h2 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s ease;
  max-width: 600px;
  width: auto;
  height: auto;
  font-family: "Consolas", sans-serif;
  text-align: justify;
  opacity: 1;
  transform: translateY(0);
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-video {
  width: 100%;
  height: 550px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: contain;
  background-color: #000;
  display: block;
  will-change: transform;
  backface-visibility: hidden;
}

.project-image {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
}

.project-content {
  padding: 1rem;
}

.project-content h3 {
  font-size: 1.25rem;
  color: #6a0dad;
  /* Purple color for the title */
  margin: 0.5rem 0;
}

.project-content p {
  font-size: 18px;
  color: #555;
  margin-bottom: 1rem;
}

.project-content a {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1rem;
}

.project-content a i {
  margin-right: 0.5rem;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-stack span {
  background-color: #eee;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  color: #333;
}

/* Timeline CSS */

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Animations for slide-in from left and right */
@keyframes slideInLeft {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
